<% provide(:title_name, t('name_page.headers.service')) %>
<% render_navbar %>

<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>

<%= form_with(model: @user, method: 'POST', url: session_index_path, data: { turbo: false }) do |f| %>
	<div class="form">
		<div class="form__group">
			<%= f.label(:email)  %>
		</div>

		<div class="form__group">
			<%=f.email_field(:email, palaceholder: 'email', class: 'form__input')  %>
		</div>

		<div class="form__group">
			<%= f.label(:password)  %>
		</div>

		<div class="form__group">
			<%= f.password_field(:password, class: 'form__input')  %>
		</div>

		<div class="form__group">			
			<%= f.submit('sign_up', class: "btn")  %>
		</div>
	</div>
<% end %>