<!DOCTYPE html>
<html>
  <head>
    <title>CourseWorkWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">        
      <header>
        <div>
          <span>header</span>
        </div>
      </header>

      <main>
        <%= yield %>      
      </main>

      <footer>
        <span>footer</span>
      </footer>
    </div>
  </body>
</html>
